.side_bar
  .side_bar__Menu
    .side_bar__Menu__block
      %p.username
        = current_user.name
      %ul.user_menu
        %li.user_logout
          =link_to "ログアウト",destroy_user_session_path,method: :delete
        %li.user_edit
          =link_to "アカウントの編集",edit_user_registration_path

  .side_bar__group
    .side_bar__group__block
      - current_user.projects.each do |p|
        .group.name
          = p.name

      .group_message
