.side_bar
  .side_bar__Menu
    .side_bar__Menu__block
      %p.username
      sample
      %ul.icon
        %li.icon_cab
        %li.icon_cog

  .side_bar__group
    .side_bar__group__block
      .group_name
      .group_message
