.wrapper
= render "side-bar"

%h2.class="project_title"

.todolists__main
  .todolists__main-form
    =render "todolists/form"

.todolists__footer
  .todolists__footer-btn
  = link_to '削除',project_todolist_path(@project), method: :delete, data: {comfirm: "削除してもよろしいですか"}
  = link_to '戻る',root_path
