.wrapper
  = render "side-bar"
  .todolists
    .todolists__header
      %p= @project.name

    .todolists__main
      .todolists__main-list
        =render "todolists/index"
    .todolists__footer
      .todolists__main-form
        =render "todolists/form"
      .todolists__footer-btn
      = link_to '戻る',root_path
