* {
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}
.wrapper{
  width: 100%;
  height: 100%;
}

.side_bar {
  width: 300px;
  float: left;
  height: 100%;
  background-color: #3CCACE;
  &__Menu{
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    &__block{
      p{
        font-size: 20px;
      }
    }
  }
  .user_menu{
    .user_logout{
      margin-top: 20px;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
    .user_edit{
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }


  &__group{
    font-size: 15px;
    font-weight: bold;
    color: #FFFF;
    background-color: #3CCACE;
    height: calc(100vh - 100px);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    &__block{
      padding-bottom: 40px;
    }
  }
};


.main_projects{
  display: inline-block;
  float: right;
  height: 100vh;
  width: calc(100vw - 300px);
  position: relative;
  overflow-x: scroll;
  overflow-y: scroll;
  .header_project{
    display: flex;
    padding: 0 40px;
    height: 100px;
      .group-menu{
      margin-top: 35px;
      justify-content: space-between;
    };
  };
};
.main_projects-list{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 40px 40px;
  a{
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
  }
};

.main_projects-btn{
  margin-top: 400px
};


.form {
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    bottom: 0;
    .new_project{
      display: flex;
      input[type="text"]{
        width: 500px;
      }
    }
    &_btn{
      margin-top: 10px;
      input[type="submit"]{
        width: 300px;
        height: 40px;
        margin-left: 30px;
        background-color: #3CCACE;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 100px;
      }
    }
  }
